body {
	background-color: #009fbb;
	margin:0px;
	font-family: 'Georgia'
}

#header {
	margin-top:50px;
	margin-left:0px;
	margin-bottom:60px;
}

#header h1 {
	margin:0px;
	padding:0px;
	font-style:normal;
	font-weight:normal;
}
.deep-title {
	color:#FFFFFF;
	font-size: 90pt;
	font-family: 'Strait', sans-serif;
}
.deep-js {
	color:#b1d3d9;
	margin-left:10px;
	font-size: 30pt;
	font-family: 'Strait', sans-serif;
}
#main-menu {
	margin-left:0px;
	margin-bottom:80px;

}

#main-menu li 
{
	font-family: 'Pathway Gothic One', sans-serif;
   margin: 0;
   padding: 0;
   display: inline;
   list-style-type: none;
}

#main-menu a:link, #tabnav a:visited 
{
   float: left;
   font-size: 15px;
   line-height: 14px;
   margin: 0 10px 4px 10px;
   text-decoration: none;
   color: #9c9;
}	

#main-menu ul li a {
	color: #FFFFFF;
}

#main-menu ul li.active {
	background-color: #FFFFFF;
}



.deep-baseline {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 12pt;
	margin-left:40px;
	margin-top:0px;
	padding:top:0px;
	color:#19383e;
}

#content {
	width:800px;
	background-color: #FFFFFF;
	padding:20px;
	padding-left:50px;
	border-radius: 15px;
	margin-bottom:80px;
	margin-left:0px;
}


#footer {
	width:800px;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 12pt;
	border-radius: 15px;
	padding:30px;
	color:#FFFFFF;
	background-color: #13383f;
	height:150px;
}

#footer a {
	color:#FFFFFF;

}